doctype html
html
  head
    title Welcome to my game !
    link(rel="stylesheet", type="text/css", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="/assets/css/app.css")
  body
    p.greetings#people Hello World!

    script(type="text/javascript", src="/libs/bootstrap/dist/js/bootstrap.min.js")




//- @     @     @
//-   @   @   @
//-     @ @ @
//- @ @ @   @ @ @
//-     @ @ @
//-   @   @   @
//- @     @     @
